<%- include('../partials/header') %>

<h1>Create a New Post</h1>

<form action="/post" method="POST">
    <label for="name">Post Name:</label>
    <input type="text" name="name">
    <label for="content">Post Content</label>
    <input type="text" name="contet">



</form>

<%- include('../partials/footer') %> 