<%- include('../partials/header') %>

<br>
<h1>Show all posts</h1>
<br>

<% posts.forEach(post => { %>

    <%= post.name  %>
    <br>
    <%= post.content %> 
    <br>

<% }) %> 

<br>

<%- include('../partials/footer') %> 