<%- include('./partials/header') %>


<div class="container">
    <div class="box">
        
        <h1 class="title">
          <% if (auth) { %> 
                How did you get here?
                You succeesfully logged in.
            <% } else {%>
              Please Login.
             
                <% } %> 
        </h1>



    </div>



</div>









<%- include('./partials/footer') %> 